{% extends 'base.template.html' %}

{% block content %}

<h1>All Customers</h1>

<a href="{{ url_for('show_create_customer')}}" class="btn btn-primary">Create</a>

<form method="GET" class="form-inline mt-3 mb-3">
    <input type="text" name="customer_name" placeholder="Customer Name" class="form-control" value="{{customerName}}"/>
    <input type="text" name="country" placeholder="Country" class="form-control ml-3" value="{{country}}"/>
    <input type="text" name="creditLimit" placeholder="Minimal Credit Limit" value = "{{creditLimit}}" class="form-control ml-3"/>
    <input type="submit" value="Search" class="ml-3 btn btn-success"/>
</form>

{% if page_number > 0 %}
      <a href="{{ url_for('show_customers', page_number=page_number-1) }}">Previous Page</a>
{% endif %}

{% if page_number < max_pages %}
    <a href="{{ url_for('show_customers', page_number=page_number+1) }}">Next Page</a>
{% endif %}

<div>
    {% for i in range(0, max_pages+1) %}
        {% if page_number != i %}
        <a href="{{ url_for('show_customers', page_number=i) }}">{{i+1}}</a>
        {% else %}
        {{i+1}}
        {% endif %}
    {% endfor %}
</div>

{% include 'display_customer_search_results.template.html' %}

{% for i in range(0, max_pages+1) %}
    <a href="{{ url_for('show_customers', page_number=i) }}">{{i+1}}</a>
{% endfor %}

{% endblock %}